#copyButton, #userGuideMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#userGuideMessage {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-font-size: 16px;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.table-view {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.table-view .column-header .label {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 16px;
}

.table-view .table-cell {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 14px;
}
